//@import "./aeroland/css/fontawesome-all.min.css";
@import "./aeroland/style";
body {
    line-height: 1.74 !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    visibility: visible !important;
    font-family: Rubik, Helvetica, Arial, sans-serif !important;
    color: #7e7e7e !important;
    position: relative !important;
    background-color: #ffffff !important;
}
